@import "tailwindcss";

html {
    text-align: center;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    background-color: #0f172a;

    background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.08) 1.5px,
        transparent 1.5px
    );
    background-size: 32px 32px;

    color: rgba(255, 255, 255, 0.92);

    font-family: "BHH", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}
